.heading {
        color: blue;
        font-family: Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 72px;
}

.heading1 {
    color: red;
    font-size: 72px;
}

p {
    color: blue;
}